:root {
  /*Font text*/
  --main-font: "roboto", sans-serif;
  /*Color text*/
  --main-color-text: #212121;
  --accent-color-text: #2196F3;
  --second-color-text: #757575;
  --three-color-text: #FFFFFF;
  --for-color-text: #000000;
  /*Bg color*/
  --first-bg: #2F303A;
  --second-bg: #F5F4FA;
  --three-bg: #F5F5F5;
  --for-bg: #EEEEEE;
  --five-bg: #ECECEC;
  --six-bg: #AFB1B8;
  --seven-bg: rgba(47, 48, 58, 0.8);
  --eight-bg: rgba(33, 150, 243, 0.9);
  /*border color*/
  --first-bord: #EEEEEE;
  /*modal window*/
  --modal-window-bg: rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-color-text);
  font-size: 14px;
  letter-spacing: 0.03em;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

address {
  font-size: normal;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 50px;
}

.current {
  position: relative;
  color: var(--accent-color-text);
}

.current::after {
  content: " ";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color-text);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@-webkit-keyframes animatemodal {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes animatemodal {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes animatelogo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animatelogo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.hdcontact {
  font-weight: 500;
  color: var(--second-color-text);
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hdcontact:last-child {
  margin-right: 0;
}
.hdcontact:hover, .hdcontact:focus {
  color: var(--accent-color-text);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-portfolio {
  border-bottom: 1px solid var(--first-bord);
}

.hero,
.footer {
  background-color: var(--first-bg);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img-bgr/bgf.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img-bgr/bgf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-block > .button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-block {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--three-color-text);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.wtitle {
  margin-bottom: 10px;
}

.wtitle {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.quality {
  background-color: var(--second-bg);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.quality-icon {
  width: 70px;
  height: 70px;
}

.doing {
  padding-top: 0px;
}

.doing__text {
  position: absolute;
  font-weight: 700;
  line-height: 16.41px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: var(--three-color-text);
  background-color: var(--seven-bg);
}

.doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.doing__item {
  position: relative;
}

.team {
  background-color: var(--second-bg);
  padding: 94 0;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.team__card {
  background-color: var(--three-color-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team__card-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__card-speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  margin-bottom: 16px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__icon-list {
  width: 170px;
  height: 92px;
  border: 1px solid var(--six-bg);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--six-bg);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon-list:hover,
.client__icon-list:focus {
  border: 1px solid var(--accent-color-text);
  fill: var(--accent-color-text);
}

.client__icon:not(:last-child) {
  margin-right: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address {
  margin-top: 20px;
}

.footer-logo {
  color: var(--three-color-text);
}

.dot-list-footer {
  display: block;
}

.logo link second {
  margin-left: 215px;
}

.footer-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--three-color-text);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover, .footer-address:focus {
  color: var(--accent-color-text);
}

.footer-address-two {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-two:hover, .footer-address-two:focus {
  color: var(--accent-color-text);
}

.footer-li {
  margin-bottom: 9px;
}

.footer-address-two link > li:last-child {
  margin-right: 0;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--three-color-text);
  margin-bottom: 20px;
}

.address-blok {
  margin-right: 70px;
}

.footer-icon {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--three-bg);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover, .footer-icon:focus {
  background-color: var(--accent-color-text);
  fill: var(--three-color-text);
}

.footer-social:not(:last-child) {
  margin-right: 10px;
}

.social-footer {
  margin-right: auto;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-subscribe {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  color: var(--three-color-text);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-subscribe:hover, .mail-subscribe:focus {
  border: 1px solid var(--three-color-text);
}

.mail-subscribe::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-subscribe::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-subscribe:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-subscribe::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--three-color-text);
  background-color: var(--accent-color-text);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: var(--six-bg);
}

.subscribe-text {
  margin-right: 10px;
}

.filter-link {
  margin-right: 8px;
}

.list-item:last-child {
  margin-right: 0;
}

.dot-list-item {
  position: relative;
}

.image-text {
  position: absolute;
  font-weight: 700;
  line-height: 16.41px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: var(--three-color-text);
  background-color: var(--seven-bg);
}

.container-portfolio link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-text);
  margin-bottom: 4px;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.container-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-link:last-child {
  margin-right: 0;
}

.portfolio-link {
  margin-right: 29px;
  margin-bottom: 29px;
}

.portfolio-link:nth-child(3n) {
  margin-right: 0;
}

.portfolio-link:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-card {
  border: 1px solid var(--first-bord);
  border-top: none;
  padding: 20px 24px;
}

.image-portfolio {
  display: block;
}

.filter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.our-work {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-work:hover,
.our-work:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hidden-image-text {
  overflow: hidden;
  position: relative;
}

.hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--eight-bg);
  color: var(--three-color-text);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-work:hover .hidden-text,
.our-work:focus .hidden-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hidden-image-text {
  overflow: hidden;
  position: relative;
}

.button {
  font-family: inherit;
  color: var(--three-color-text);
  background-color: var(--accent-color-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}
.button:hover, .button:focus {
  cursor: pointer;
  background-color: #1f88dd;
}

.filter-button {
  background: var(--second-bg);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  font-family: inherit;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  background: var(--accent-color-text);
  color: var(--three-color-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button:hover, .filter-button:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.modal-btn:focus .close-icon, .modal-btn:hover .close-icon {
  fill: var(--accent-color-text);
}

.close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  color: var(--three-color-text);
  background-color: var(--accent-color-text);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: var(--six-bg);
}

.submit-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo link {
  margin-right: 93px;
}

.first-link {
  margin-right: 50px;
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-right: 93px;
  -webkit-animation-name: animatelogo;
          animation-name: animatelogo;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.logo-first {
  color: var(--accent-color-text);
}

.logo-second {
  color: var(--three-color-text);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator {
  margin-right: auto;
}

.navlist {
  font-weight: 500;
  color: var(--main-color-text);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navlist:hover, .navlist:focus {
  color: var(--accent-color-text);
}

.navigator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navigator-list > li {
  margin-right: 50px;
}

.navigator-list > li:last-child {
  margin-right: 0;
}

.team-style {
  padding: 30px 0;
}

.social__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__list:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--six-bg);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:hover, .social__icon:focus {
  background-color: var(--accent-color-text);
  fill: var(--three-color-text);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-window-bg);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--three-color-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation-name: animatemodal;
          animation-name: animatemodal;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.modal-header {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-group,
.comment-group,
.form-policy-group {
  display: block;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group:focus-within .form-input,
.form-group:hover .form-input {
  border: 1px solid var(--accent-color-text);
}

.form-group:focus-within .input-icon,
.form-group:hover .input-icon {
  fill: var(--accent-color-text);
}

.comment-group {
  margin-bottom: 20px;
}

.form-policy-group {
  margin-bottom: 30px;
}

.form-label {
  display: block;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--second-color-text);
}

.form-input {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  outline: 2px solid var(--main-color-text);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color-text);
  outline: transparent;
}

.custom-checkbox:hover,
.custom-checkbox:focus {
  outline: 2px solid var(--accent-color-text);
}

.checkbox:focus + .custom-checkbox {
  outline: 2px solid var(--accent-color-text);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.form-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-terms {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.comment-area {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area:focus, .comment-area:hover {
  border: 1px solid var(--accent-color-text);
}
.comment-area::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-area::-moz-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-area:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-area::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-area::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.link-modal {
  color: var(--accent-color-text);
}/*# sourceMappingURL=main.css.map */