.logo link {
    margin-right: 93px;
}

.first-link {
    margin-right: 50px;
    display: block;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-right: 93px;

    animation-name: animatelogo;
    animation-duration: 3000ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: 1000ms;
}

.logo-first {
    color: var(--accent-color-text);
}

.logo-second {
    color: var(--three-color-text)
}