body {
    font-family: var(--main-font);
    color: var(--main-color-text);
    font-size: 14px;
    letter-spacing: 0.03em;
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
address {
    font-size: normal;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-bottom: 50px;
}
.current {
    position: relative;
    color: var(--accent-color-text)
}

.current::after {
    content: " ";

    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 2px;

    background-color: var(--accent-color-text);
}