.doing {
    padding-top: 0px;
}

.doing__text {
    position: absolute;
    font-weight: 700;
    line-height: 16.41px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: var(--three-color-text);
    background-color: var(--seven-bg);
}

.doing__list {
    display: flex;
    gap: 30px;
}

.doing__item {
    position: relative;
}