.filter-link {
    margin-right: 8px;
}

.list-item:last-child {
    margin-right: 0;
}

.dot-list-item {
    position: relative;
}

.image-text {
    position: absolute;
    font-weight: 700;
    line-height: 16.41px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: var(--three-color-text);
    background-color: var(--seven-bg);

}

.container-portfolio link {
    justify-content: center;
}

.work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
    margin-bottom: 4px;
}

.work-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}

.container-portfolio {
    display: flex;
    flex-wrap: wrap;
}

.filter-link:last-child {
    margin-right: 0;
}

.portfolio-link {
    margin-right: 29px;
    margin-bottom: 29px;
}

.portfolio-link:nth-child(3n) {
    margin-right: 0;
}

.portfolio-link:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-card {
    border: 1px solid var(--first-bord);
    border-top: none;
    padding: 20px 24px;
}

.image-portfolio {
    display: block;
}

.filter-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.our-work {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-work:hover,
.our-work:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hidden-image-text {
    overflow: hidden;
    position: relative;
}

.hidden-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: var(--eight-bg);
    color: var(--three-color-text);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-work:hover .hidden-text,
.our-work:focus .hidden-text {
    transform: translateY(0);
}

.hidden-image-text {
    overflow: hidden;
    position: relative;
}