.work-container {
    @media screen and (min-width: 480px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.list-item {
    // margin-bottom: 30px;
    &:last-child {
    margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 15px);
    }
}
    
.wtitle {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}

.quality {
    display: flex;
    justify-content: center;    
    background-color: var(--second-bg);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.quality-icon {
    width: 70px;
    height: 70px;
}
